ul, ol {
    margin: 0;
    padding: 0 0 0 20px;
}
body {
    margin: 0;
    padding: 4px;
    margin-bottom: auto;
}
.doubledash {
	display: none;
}
.replypost {
	margin-left: 0 !important;
}
.description {
    font-size: .8em;
}
.subtitle {
    font-size: .6em;
}
.fileinfo {	    
    text-align: left;
    margin: 0 .4em 2px .4em;
    font-size: .8em;
    color: inherit;
}
.limited {
	max-width: 360px;
}
.file .fileinfo {
    margin: 0 0 2px 0;
    padding: 0;
}
.file {
    float: left;
    margin: 0 .3em;
}
.reply, .highlight {
    padding: 0 .5em 0 0;
}
.reply, .post-error, .popup {
    border-style: solid;
    border-width: 1px;
}
form.reply {
    padding: 3px;
}
#reply-replyText {
    margin: 5px 5px 0 5px;
    width: 98%;
}
#fieldtable table {
    padding-top: 0;
    margin-top: 0
}
.popup {
    border-color: #000000;
    padding: 3px;
    position: absolute;	
}
.post-error {
    background: #E04000;
    color: #FFFFFF;
    text-align: center;
}
img {
    border: 0;
}
.highlight {
    border-style: dashed;
    border-width: 2px;
}
.abbrev {
	padding: 0 0 0 20px;
    color: #666666;
}
.message {
    vertical-align: top;
    text-align: inherit;
}
div p {
    padding: 0;
    margin: 0;
}
a {
    cursor: pointer;
}
a:focus {
    outline: 0;
}
a, .thumb {
    border: none;
	margin: 0;
	padding: 0;
}
.thumb {
	max-width: 140px;
	max-height: 140px;
}
label, label input, .reflink, .reflink a {
    text-align: left;
}
.icon {
    background-repeat: no-repeat;
    background-position: 0px center;
    cursor: pointer;
}
.icon input {
    position: absolute;
    left: -9001px;
}
.transparent {
    border: none;
    background: none !important;
}
.label {
    display: inline;
}
.cpanel, .reflink a, .hideinfo a, .abbrev a {
    text-decoration: none;
}
pre {
    margin: .4em 0;
}
.hideinfo {
    font-size: .8em;
}
.rightaligned {
    text-align: right;
}
.theader, .passvalid {
    text-align: center;
    padding: 2px;
    clear: both;
    margin-bottom: .5em;
    border: solid 1px #CCCCCC;
    font-weight: bold;
}
.adminbar {
    clear: left;
    float: left;
}
.stylebar {
    clear: right;
    float: right;
}
.logo {
    clear: both;
    font-size: 2em;
}
.textarea-ext {
    vertical-align: top;
    float: right;
    font-family: monospace;
}
.textarea-ext a {
    color: inherit;
}
.postblock {
    padding-left: .5em;
}
#reply-tremail .postblock {
    padding-right: .5em;
}
.userdelete {
    float: right;
    text-align: center;
    white-space: nowrap
}
.postarea table {
    margin: 0px auto;
    text-align: left;
}
.footer {
    text-align:center;
    font-size:12px;
    font-family:serif;
    margin: 2em 0 0 0;
}
.dellist {
    font-weight: bold;
    text-align:center;
}
.delbuttons {
    text-align:center;
    padding-bottom:4px;
}
.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0;
    color: #800000;
}
.postername, .replytitle, .postblock {
    font-weight: bold;
}
.postbody {	
    padding: 5px;
}
.postbody blockquote {
    background: inherit;
    margin: 0;
    color: #789922 !important;
    padding: .3em 0;
}
.postbody blockquote blockquote {
    color: #406010 !important;
    margin: 0;
}
.postbody blockquote blockquote blockquote {
    color: #204010 !important;
    margin: 0;
}
.spoiler {
	color: inherit !important;
}
hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #BBBBBB;
}
.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}

.rules {
    margin: 0 auto;
    font-size: .9em;
}
.hide {
    background-image:url(/images/hidethread.png);
}
.signed {
    background-image:url(/images/signed-on.png);
}
.unsigned {
    background-image:url(/images/signed-off8.png);
}
.close {
    background-image:url(/images/close.png);
}
.reply_ {
	background-image:url(/images/reply.png);
}
.quote {
	background-image:url(/images/quote.png);
}
.add_ {
	background-image:url(/images/music/add.png);
}
.play_ {
	background-image:url(/images/music/play.png);
}
.view_ {
	background-image:url(/images/view.png);
}
.edit_ {
	background-image:url(/images/edit.gif);
}

.logodobleft {
	background-image:url(/css/img/dobleft.png); 
	background-position:top right; 
	background-repeat:no-repeat;
	width:250px;
	height:674px;
}
.logodobright {
	background-image:url(/css/img/looongdobright.png); 
	background-position:bottom left; 
	background-repeat:no-repeat;
	padding-left:30px;
	text-align:left;
	width:250px;
}

.names td {
  text-align: center;
  background: #EEAA88;
  color: #600000;
  padding: 0 5px;
}
.values td {
  text-align: center;
  background: #F0E0D6;
  color: #600000;
  text-decoration: none !important;
  padding: 0 5px;
}
td.logo, td > .logo {
  font-size: 1.5em;
}
.ipmark {
	max-height:16px;
}
.threadlist {
	vertical-align:top;
	text-align:center;
	border-left:1px solid #bbb;
	padding-left: 20px;
}
.alternate {
	display: none;
}
.imported {
	color: #117743;
}
.exported {
	color: #EE1105;
}
.imported a, .exported a {
	text-decoration: underline;
}

/*
 ****** jCrop *****
*/
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('/images/jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	/**width: 9px;
	*height: 9px;*/
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}