html, body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: "Trebuchet MS",Trebuchet,tahoma,serif;
}
.fileinfo {
    color: #666666;
}
.doubledash {
	display: none;
}
.replypost {
	margin-left: 20px;
}
.highlight, .reply, .popup {
    background-color: #DDDDDD;
    color: #333333;
}
.oppost {
    background-color: #EEEEEE;
}
.reply {
    border-color: #CCCCCC;
}
.highlight {
	border-color: #FF5500;
}
a {
    color: #FF6600;
}
.reflink a { 
	color: inherit;
}
a:hover {
    color: #0066FF;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.adminbar, .stylebar {
    font-size: .8em;
	font-weight: bold;
}
.theader, .passvalid {
	background:#DDDDDD;
	color: #2266AA;
}
.logo {
	font-weight: bold;
    color: #FF6600;
}
.postblock {
    background: transparent;
    color: #002244;
}
.managehead {
    background: #DDDDDD;
}
.postername {
	color:#004A99;
}
.postertrip {
    color:#FF3300;
}
.replytitle {
    color:#002244;
}
dl.menu dt {
    background: #DDDDDD;
    border: solid 1px #CCCCCC;
}
dl.menu dd {
    border-left: solid 1px #CCCCCC;
}
.spoiler {
	background: #CCCCCC;
	color: #CCCCCC;
}
.spoiler a {
	background: #CCCCCC;
	color: #CCCCCC;
}
.spoiler a:hover {
    color: #333333 !important;
}
.spoiler blockquote {
    background: #CCCCCC;
    color: #CCCCCC;
}
.spoiler blockquote blockquote {
    background: #CCCCCC;
    color: #CCCCCC;
}
.spoiler blockquote blockquote blockquote {
    background: #CCCCCC;
    color: #CCCCCC;
}
.spoiler:hover {
	background: #CCCCCC !important;
	color: #333333 !important;
}
#code_view .highlight {
    background: #F7F7F7;
}

/*
                           Main page
*/

.category {
        font-family: sans-serif;
        font-size: small;
        margin-bottom: 8px;
        background: #DDDDDD;
}

.header {
        background: #CCCCCC;
        color: #2266AA;
        padding: 0px 3px 0px 3px;
        font-weight: bold;
        border-left: 1px solid #777777;
        border-right: 1px solid #777777;
        border-top: 1px solid #777777;
}


.list {
        border-left: 1px solid #777777;
        border-right: 1px solid #777777;
        border-bottom: 1px solid #777777;
}

.list div a {
        display: block;
        text-decoration: none;
        color: #FF6600;
        padding: 0px 3px 0px 3px;
}

.list div a:hover {
    color: #0066FF;
    background: #EEEEEE;
}

.featuredimgtop {
	background-image:url(/css/img/imgtop.png); 
	background-position:top;
	background-repeat:no-repeat;
}

.featuredimgbottom {
	height:300px; 
	background-image:url(/css/img/imgbottom.png); 
	background-position:bottom; 
	background-repeat:no-repeat;
}

.newsbg {
	width:502px; 
	background-color:#d0d0d0;
}

.newstop {
	background-image:url(/css/img/top.png); 
	background-position:top; 
	background-repeat:no-repeat;
}

.newsbottom {
	background-image:url(/css/img/bottom.png); 
	background-position:bottom; 
	background-repeat:no-repeat;
}

.newssize {
padding:35px 40px 65px 45px; font-size:120%;
}

.names td {
  background: #999;
  color: #000;
}
.values td {
  background: #ddd;
  color: #333;
}
td.logo, td > .logo {
  background: #ddd;
  font-size: 1.2em;
}